* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.user-icon {
    border-radius: 50%;
    top: 0;
    float: inline-end;
    margin-right: 2%;
    height: 10%;
    width: 7%;
}

.user-icon:hover{
    opacity: 50%;
}

.user-profile-page{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.content{
    margin-top: 7%;
}
.user-profile-page img {
    display: block;
    margin-right: 50%;
}
.user-profile-page h1 {
    text-align: center;
}
.profile-field{
    margin: 10px 0;
    border-bottom: dashed 0.2px grey;
}
.field-label{
    margin: 20px 0 5px 0;
}
.btn {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px 0 0;
}

.btn:hover {
    background-color: grey;
}